---
import MainHead from '../../../components/MainHead.astro';

import { formatDate, formatDateWithoutWeekday, formatTime } from '../../../scripts/date.js';
import { getNextMeetups } from '../../../scripts/meetups.js';

let title = 'Social Media Post Meetup Alps - Engineering Kiosk - Innsbruck';
let description = 'Tech Meetup in Innsbruck, brings together tech enthusiasts, engineers, and professionals from various fields to explore the intersection of engineering culture, open source, people and technology.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Current Meetup
const nextMeetup = getNextMeetups(1)[0];
const dateString = formatDate(nextMeetup.date, 'en-US');
const timeString = formatTime(nextMeetup.date);

---

<html lang="de">
	<head>
		<MainHead title={title} description={description} image="/meetup/alps/images/ibk.jpg" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<section style="background-image: url('/meetup/alps/images/ibk.jpg'); width: 700px; height: 700px;" class="block text-center flex flex-col font-medium">
			<h1 class="text-white text-5xl font-semibold p-3">Engineering Kiosk Alps</h1>
		  <h2 class="text-white text-4xl">{dateString}</h2>
			<h2 class="text-white text-4xl">Meetup in Innsbruck</h2>
			<div class="text-2xl p-4">engineeringkiosk.dev/alps</div>
			<div class="bg-white bg-opacity-90 mt-auto p-4">
				<div class="text-2xl">
					hosted by <img class="h-12 inline" src={`/meetup/alps/images/location/${nextMeetup.location.logo}`} alt={nextMeetup.location.name} />
				</div>
			{nextMeetup.talks.map((talk, j) => (
				<div class="flex flex-row my-2 mx-4">
					<img class="w-32 h-32 rounded-full" src={`/meetup/alps/images/speaker/${talk.avatar}`} alt={talk.name} />
					<h3 class="ml-4 text-2xl text-left my-auto">{talk.title}<br>by <span class="text-yellow-500">{talk.name}</span></h3>
				</div>
			))}
			</div>
		</section>
	</body>
</html>
