---
import MainHead from '../../../../components/MainHead.astro';

import { formatDate, formatDateWithoutWeekday, formatTime, monthSuffixedDay, year} from '../../../../scripts/date.js';
import { getNextMeetup } from '../../../../scripts/meetups.js';

let title = 'Social Media Post Meetup Alps - Engineering Kiosk - Innsbruck';
let description = 'Tech Meetup in Innsbruck, brings together tech enthusiasts, engineers, and professionals from various fields to explore the intersection of engineering culture, open source, people and technology.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Current Meetup
const bufferDays = 1;
const nextMeetup = getNextMeetup(bufferDays);
const dateString = formatDate(nextMeetup.date, 'en-US');
const dateStringMonthDay = monthSuffixedDay(nextMeetup.date);
const dateStringYear = year(nextMeetup.date);
const hostName = nextMeetup.hostName
const locationName = nextMeetup.location.name
const locationAddress = nextMeetup.location.address
---

<html lang="de">
	<body class="antialiased bg-body text-body">

		<h1 class="text-xl font-bold">Engineering Kiosk Meetup Announcement - {dateStringMonthDay}</h1>

		<p>
				<br/>
				We would like to invite you to the next <b>Engineering Kiosk Meetup</b>, this time we will meet at the following date & location: <br/>
		<br/>
			&#128197; {dateStringMonthDay}, {dateStringYear}<br/>
		&#128205;  Location:{locationName}, {locationAddress}<br/>
		&#128205;  Hosted by: {locationName}<br/>
		<br/>
		&#x1F3A4; Featured Talks<br/>
		<br/>
		{nextMeetup.talks.map((talk, j) => (
				<span><b>{talk.title} by {talk.name}:</b> {talk.description}</span><br/><br/>
		))}
		&#128221; Reserve Your Spot and receive an instant calendar invite: <a href="https://engineeringkiosk.dev/alps">https://engineeringkiosk.dev/alps</a><br/>
		<br/>
		cheers,<br/>
		Wolfgang, Tim, Romedius, Christoph<br/>
		</p>
	</body>
</html>
