---
import Footer from '../../../../components/Footer.astro';
import MainHead from '../../../../components/MainHead.astro';
import MeetupListing from '../../../../components/MeetupListing.astro';
import Nav from '../../../../components/Nav.astro';
import Discord from '../../../../components/meetup-alps/Discord.astro';
import Newsletter from '../../../../components/meetup-alps/Newsletter.astro';
import MeetupArchiveEvent from '../../../../components/meetup-alps/MeetupArchiveEvent.astro';
import Team from '../../../../components/meetup-alps/Team.astro';

import { getPastMeetups } from '../../../../scripts/meetups';
import { Image } from "astro:assets";

let title = 'Archive of Engineering Kiosk Alps Meetup in Innsbruck';
let description = 'Tech Meetup in Innsbruck, brings together tech enthusiasts, engineers, and professionals from various fields to explore the intersection of engineering culture, open source, people and technology.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const meetupArchive = getPastMeetups()
const alpsImage = (await import('../../../../images/meetup-alps/ibk.jpg')).default;

---

<html lang="de">
	<head>
		<MainHead title={title} description={description} image="/meetup/alps/images/ibk.jpg" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<section class="relative bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
				<div class="py-20 md:py-28">
					<div class="container px-4 mx-auto">
						<div class="flex flex-wrap xl:items-center -mx-4">
							<div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
								<h1>
									<div>
										<span class="inline-block w-auto py-px px-2 mb-4 text-xs leading-5 text-white bg-yellow-500 uppercase rounded-9xl">Tech Meetup Innsbruck</span>
									</div>
									<span class="block mb-6 text-3xl md:text-5xl lg:text-5xl 2xl:text-6xl leading-tight font-bold tracking-tight">Engineering Kiosk Alps<br />Meetup Innsbruck<br />Talks Archive</span>
								</h1>
							</div>

							<div class="w-full md:w-1/2 px-4">
								<div class="relative mx-auto md:mr-0 max-w-max">
									<img class="absolute z-10 -left-14 -top-12 w-28 md:w-auto" src="/images/elements/circle3-red.svg" alt="Roter Kreis" />
									<img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto" src="/images/elements/dots3-green.svg" alt="Grüne Punkte" />
									<Image class="relative rounded-7xl h-80 w-80" src={alpsImage} alt="View on Innsbruck" title="View on Innsbruck" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<section class="py-12 bg-white">
			<div class="container px-4 mx-auto">
				<div class="mb-8 text-center">
					<span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-9xl">Meetup Overview</span>
					<h2 class="mb-4 text-3xl md:text-4xl leading-tight text-coolGray-900 font-bold tracking-tighter">Past Meetups at a Glance</h2>
					<p class="mb-10 text-lg md:text-xl text-coolGray-500 font-medium">A quick overview of our past meetups.</p>
				</div>

				<div class="flex flex-col space-y-6 mb-16">

					<!-- Meetup Rows -->
					{meetupArchive.map((meetup) => (
						<MeetupArchiveEvent meetup={meetup} />
					))}
				</div>
			</div>
		</section>

		<style>
			@media (max-width: 768px) {
				.flex-col.md\:flex-row > div:not(:last-child) {
					border-bottom: 1px solid #e5e7eb;
				}
			}
		</style>

    <MeetupListing headline='Meetup Tech Talk Archive' archive={true}	meetupsToShow={meetupArchive} />

		<Newsletter />
		<Discord />
		<Team	/>
		<Footer />

	</body>
</html>
