---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  speaker: string;
  avatar: string;
}

const { title, speaker, avatar } = Astro.props;

---
<li class="flex items-center">
  <div class="flex items-center mr-2 hidden sm:block">
    <Image class="w-12 h-12 m-2 rounded-full" src={avatar} alt={speaker} title={speaker} />
  </div>
  <div class="text-sm">
    <div class="font-medium">{title}</div>
    {speaker && <div class="text-coolGray-500">({speaker})</div>}
  </div>
</li>