---
import Footer from '../../components/Footer.astro';
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import TechPodcastPreview from '../../components/TechPodcastPreview.astro';

import germanTechPodcasts from "../../data/german-tech-podcasts.json";

let title = 'Die besten Deutschsprachigen Tech Podcasts kuratiert im Engineering Kiosk';
let description = 'Eine handverlesene Liste der besten deutschsprachigen Tech Podcasts zu relevanten Themen für Entwickler:innen, Tech-Leads und Nerds.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Sort Podcasts by name
function orderByName(a, b) {
  if (a.name.toLowerCase() < b.name.toLowerCase()){
    return -1;
  }
  
  if (a.name.toLowerCase() > b.name.toLowerCase()){
    return 1;
  }

  return 0;
}
germanTechPodcasts.sort(orderByName)


---

<html lang="de">
  <head>
		<MainHead title={title} description={description} image="/images/headers/german-tech-podcasts-head.jpeg" {canonicalURL} />
		<script src="/js/podcast-listing-filter.js" is:inline></script>
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<section class="py-8 md:py-12 lg:pb-12 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-repeat: no-repeat; background-position: center top;">
				<div class="container px-4 mx-auto">
					<div class="flex flex-wrap items-center mb-12">
						<div class="w-full md:w-3/4 mb-8 md:mb-0">
							<span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">
								Community Podcast
							</span>
							<h3 class="mb-4 text-4xl md:text-5xl leading-tight text-darkCoolGray-900 font-bold tracking-tighter">
								Deutschsprachige Tech Podcasts
							</h3>
							<p class="text-lg md:text-xl text-coolGray-500 font-medium">
								Ein ordentlicher Kiosk verfügt natürlich über ein ausgewogenes Angebot. Ein Zeitschriften-Kiosk bietet eine Auswahl an Zeitschriften,
								der Engineering Kiosk hingegen eine gute Auswahl an Tech-Podcasts. Daher haben wir - selbst Podcasts-Hosts - eine <span class="font-bold">kuratierte Liste von
								<span id="number-podcasts">{ germanTechPodcasts.length }</span> deutschsprachigen Tech-Podcasts</span> 🇩🇪 🇦🇹 🇨🇭 für euch zusammengestellt.
							</p>
						</div>
						<div class="w-full md:w-1/4">
							<a class="flex items-center justify-center py-2 px-4 ml-auto text-sm leading-5 text-yellow-50 font-medium bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 md:max-w-max rounded-md" href="https://github.com/EngineeringKiosk/GermanTechPodcasts">
								Die Podcast Liste auf GitHub <img class="ml-2 w-8" src="/images/brands/github-black.svg" alt="Deutschsprachige Tech Podcasts auf GitHub" title="Deutschsprachige Tech Podcasts auf GitHub">
							</a>
						</div>
					</div>
					<div id="filter" class="invisible flex flex-wrap items-center">
						<div class="w-full md:w-9/12 mb-8 md:mb-0">
							<div class="flex justify-start items-center">
								<h3 class="text-lg mr-3 md:text-xl leading-tight text-coolGray-500 font-medium tracking-tighter">
									Filter:
								</h3>
								<select id="filter-activity" class="px-4 py-3 rounded-md text-yellow-50 font-medium bg-yellow-500 hover:bg-yellow-600 focus:ring-0 text-sm">
									<option value="">Aktivtät: Alle Podcasts</option>
									<option value="active">🟢 Nur aktive Podcasts</option>
									<option value="delayed">🟡 Nur teils inaktive Podcasts</option>
									<option value="inactive">🔴 Nur inaktive Podcasts</option>
								</select>
								<span class="text-lg mx-3 md:text-xl leading-tight text-coolGray-500 font-medium tracking-tighter">oder</span>
								<select id="filter-last-episode" class="px-4 py-3 rounded-md text-yellow-50 font-medium bg-yellow-500 hover:bg-yellow-600 focus:ring-0 text-sm">
									<option value="">Letzte Episode: Alle Podcasts</option>
									<option value="7">Letzte Episode in den letzten 7 Tagen</option>
									<option value="14">Letzte Episode in den letzten 2 Wochen</option>
									<option value="31">Letzte Episode im letzten Monat</option>
								</select>
							</div>
						</div>
						<div class="w-full md:w-3/12 mb-8 md:mb-0">
							<button id="filter-reset" class="flex items-center justify-center py-2 px-4 ml-auto text-sm leading-5 text-yellow-50 font-medium bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 md:max-w-max rounded-md">
								Filter zurücksetzen
							</button>
						</div>
					</div>
				</div>
			</section>

			{germanTechPodcasts.map((podcast) => <TechPodcastPreview podcast={podcast} /> )}

			<section id="no-filter-match" class="hidden pt-24 pb-4 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
				<div class="container px-4 mx-auto">
					<div class="mb-8 text-center">
						<h3 class="mb-4 text-xl md:text-3xl leading-tight text-coolGray-900 font-bold tracking-tighter">
							Leider passt kein Podcast zu deinen Filterkriterien :(
						</h3>
					</div>
				</div>
			</section>

			<section class="py-24 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
				<div class="container px-4 mx-auto">
					<div class="mb-16 text-center">
						<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">
							Dein Lieblingspodcast fehlt?
						</h3>
						<a class="flex items-center justify-center py-2 px-4 m-auto text-sm leading-5 text-yellow-50 font-medium bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 md:max-w-max rounded-md" href="https://github.com/EngineeringKiosk/GermanTechPodcasts/blob/main/CONTRIBUTING.md">
							Sende uns ein Pull-Request auf GitHub <img class="ml-2 w-8" src="/images/brands/github-black.svg" alt="Deutschsprachige Tech Podcasts auf GitHub" title="Deutschsprachige Tech Podcasts auf GitHub">
						</a>
					</div>
				</div>
			</section>

			<Footer />
		</div>
	</body>
</html>
