---
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import HostPreview from '../components/HostPreview.astro';
import BlogPostListing from '../components/BlogPostListing.astro';
import PodcastEpisodeListing from '../components/PodcastEpisodeListing.astro';
import { formatDateWithoutWeekday } from "../scripts/date.js"

import podcastInfo from "../data/podcast-info.json";

let title = 'Engineering Kiosk - Der Software-Engineering-Podcast';
let description = 'Der deutschsprachige Software-Engineering-Podcast mit Wolfgang Gassler und Andy Grunwald rund um die Themen Engineering-Kultur, Open Source und Technologie.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob('./blog/post/*.mdx');
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

// Determine the latest episode
// We have places where the last episode is linked
let allEpisodes = await Astro.glob('../pages/podcast/episode/*.md');
allEpisodes.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
let episodesToShow = allEpisodes.slice(0, 1);
let episode = episodesToShow[0];

const truncate = (str, max, suffix) => str.length < max ? str : `${str.substr(0, str.substr(0, max - suffix.length).lastIndexOf(' '))}${suffix}`;
let lastEpisodeTitleShort = truncate(episode.frontmatter.title, 27, '...');
---

<html lang="de">
  <head>
		<MainHead title={title} description={description} image="/images/headers/andy-grunwald-wolfgang-gassler-2022-01-07.jpg" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
	  <div>
		  <Nav title={title} />

      <section class="relative bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
			  <div class="py-20 md:py-28">
				  <div class="container px-4 mx-auto">
					  <div class="flex flex-wrap xl:items-center -mx-4">
						  <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
								<h1>
                  <div>
                    <span class="inline-block w-auto py-px px-2 mb-4 text-xs leading-5 text-white bg-yellow-500 uppercase rounded-9xl">
                      Engineering Kiosk
                    </span>
                  </div>
                  <span class="block mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tight">
                    Der deutschsprachige Software-Engineering-Podcast
                  </span>
								</h1>
								<p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">
									Der Engineering Kiosk ist der deutschsprachige Software-Engineering-Podcast mit <a href="/kiosk-betreiber/wolfgang-gassler/">Wolfgang Gassler</a> und <a href="/kiosk-betreiber/andy-grunwald/">Andy Grunwald</a> rund um die Themen Engineering-Kultur, Open Source, Menschen, Technologie und allen anderen Bereichen, die damit in Verbindung stehen.
								</p>
								<div class="flex flex-wrap">
									<div class="w-full md:w-auto py-1 md:py-0 md:mr-4">
                    <a class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 border border-yellow-500 rounded-md shadow-sm" href="#jetzt-folgen">
                      Hören in deiner App...
                    </a>
                  </div>
									<div class="w-full md:w-auto py-1 md:py-0">
                    <a class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-coolGray-800 font-medium text-center bg-white hover:bg-coolGray-100 focus:ring-2 focus:ring-coolGray-200 focus:ring-opacity-50 border border-coolGray-200 rounded-md shadow-sm" href={episode.url}>
                      Aktuelle Episode: {lastEpisodeTitleShort}
                    </a>
                  </div>
								</div>
							</div>
							<div class="w-full md:w-1/2 px-4">
								<div class="relative mx-auto md:mr-0 max-w-max">
									<img class="absolute z-10 -left-14 -top-12 w-28 md:w-auto" src="/images/elements/circle3-red.svg" alt="Roter Kreis">
									<img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto" src="/images/elements/dots3-green.svg" alt="Grüne Punkte">
									<img class="relative rounded-7xl" src="/images/headers/andy-grunwald-wolfgang-gassler-2022-01-07.jpg" alt="Andy Grunwald und Wolfgang Gassler am 07. Januar 2022 in Duisburg" title="Andy Grunwald und Wolfgang Gassler am 07. Januar 2022 in Duisburg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

      <!--- EXPERIMENTAL -->
      <section class="py-24 bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="mb-6 md:mb-10 text-center">
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode</span>
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm"><time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode / <time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
            <h1 class="mb-4 text-3xl md:text-4xl leading-tight font-bold tracking-tighter">
              <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                v1 {episode.frontmatter.title}
              </a>
            </h1>
            <!--
            <p class="text-lg md:text-xl text-coolGray-500 font-medium">With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every aspect of your business in one secure platform.</p>
             -->
          </div>
          <div class="flex flex-wrap lg:items-center -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
              <div class="relative mx-auto md:ml-0 max-w-max overflow-hidden rounded-lg">
                <!--
                <img class="absolute z-10 -left-8 -top-8 w-28 md:w-auto text-yellow-400" src="/images/elements/circle3-red.svg" alt="">
                <img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto text-blue-500" src="/images/elements/dots3-green.svg" alt="">
                -->
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  <img src={episode.frontmatter.image} alt={`Engineering Kiosk Episode ${episode.frontmatter.title}`} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`} />
                </a>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <div class="flex flex-wrap p-8 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                  <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-yellow-500 rounded-lg">
                    <svg width="21" height="21" viewbox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 18.63H5C4.20435 18.63 3.44129 18.3139 2.87868 17.7513C2.31607 17.1887 2 16.4257 2 15.63V7.63C2 7.36479 1.89464 7.11043 1.70711 6.9229C1.51957 6.73536 1.26522 6.63 1 6.63C0.734784 6.63 0.48043 6.73536 0.292893 6.9229C0.105357 7.11043 0 7.36479 0 7.63L0 15.63C0 16.9561 0.526784 18.2279 1.46447 19.1655C2.40215 20.1032 3.67392 20.63 5 20.63H17C17.2652 20.63 17.5196 20.5246 17.7071 20.3371C17.8946 20.1496 18 19.8952 18 19.63C18 19.3648 17.8946 19.1104 17.7071 18.9229C17.5196 18.7354 17.2652 18.63 17 18.63ZM21 0.630005H7C6.20435 0.630005 5.44129 0.946075 4.87868 1.50868C4.31607 2.07129 4 2.83436 4 3.63V13.63C4 14.4257 4.31607 15.1887 4.87868 15.7513C5.44129 16.3139 6.20435 16.63 7 16.63H21C21.7956 16.63 22.5587 16.3139 23.1213 15.7513C23.6839 15.1887 24 14.4257 24 13.63V3.63C24 2.83436 23.6839 2.07129 23.1213 1.50868C22.5587 0.946075 21.7956 0.630005 21 0.630005ZM20.59 2.63L14.71 8.51C14.617 8.60373 14.5064 8.67813 14.3846 8.7289C14.2627 8.77966 14.132 8.8058 14 8.8058C13.868 8.8058 13.7373 8.77966 13.6154 8.7289C13.4936 8.67813 13.383 8.60373 13.29 8.51L7.41 2.63H20.59ZM22 13.63C22 13.8952 21.8946 14.1496 21.7071 14.3371C21.5196 14.5246 21.2652 14.63 21 14.63H7C6.73478 14.63 6.48043 14.5246 6.29289 14.3371C6.10536 14.1496 6 13.8952 6 13.63V4L11.88 9.88C12.4425 10.4418 13.205 10.7574 14 10.7574C14.795 10.7574 15.5575 10.4418 16.12 9.88L22 4V13.63Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <div class="w-full md:flex-1 md:pt-3">
                  <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 font-bold">Measure your performance</h3>
                  <p class="text-coolGray-500 font-medium">Stay connected with your team and make quick decisions wherever you are.</p>
                </div>
              </div>
              <div class="flex flex-wrap p-8 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                  <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-yellow-500 rounded-lg">
                    <svg width="21" height="21" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 18H9.24C9.37161 18.0008 9.50207 17.9755 9.62391 17.9258C9.74574 17.876 9.85656 17.8027 9.95 17.71L16.87 10.78L19.71 8C19.8037 7.90704 19.8781 7.79644 19.9289 7.67458C19.9797 7.55272 20.0058 7.42201 20.0058 7.29C20.0058 7.15799 19.9797 7.02728 19.9289 6.90542C19.8781 6.78356 19.8037 6.67296 19.71 6.58L15.47 2.29C15.377 2.19627 15.2664 2.12188 15.1446 2.07111C15.0227 2.02034 14.892 1.9942 14.76 1.9942C14.628 1.9942 14.4973 2.02034 14.3754 2.07111C14.2536 2.12188 14.143 2.19627 14.05 2.29L11.23 5.12L4.29 12.05C4.19732 12.1434 4.12399 12.2543 4.07423 12.3761C4.02446 12.4979 3.99924 12.6284 4 12.76V17C4 17.2652 4.10536 17.5196 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18ZM14.76 4.41L17.59 7.24L16.17 8.66L13.34 5.83L14.76 4.41ZM6 13.17L11.93 7.24L14.76 10.07L8.83 16H6V13.17ZM21 20H3C2.73478 20 2.48043 20.1054 2.29289 20.2929C2.10536 20.4804 2 20.7348 2 21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21C22 20.7348 21.8946 20.4804 21.7071 20.2929C21.5196 20.1054 21.2652 20 21 20Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <div class="w-full md:flex-1 md:pt-3">
                  <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 font-bold">Build your website</h3>
                  <p class="text-coolGray-500 font-medium">A tool that lets you build a dream website even if you know nothing about web design or programming.</p>
                </div>
              </div>
              <div class="flex flex-wrap p-8 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                  <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-yellow-500 rounded-lg">
                    <svg width="21" height="21" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 13H3C2.73478 13 2.48043 13.1054 2.29289 13.2929C2.10536 13.4804 2 13.7348 2 14V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22H10C10.2652 22 10.5196 21.8946 10.7071 21.7071C10.8946 21.5196 11 21.2652 11 21V14C11 13.7348 10.8946 13.4804 10.7071 13.2929C10.5196 13.1054 10.2652 13 10 13ZM9 20H4V15H9V20ZM21 2H14C13.7348 2 13.4804 2.10536 13.2929 2.29289C13.1054 2.48043 13 2.73478 13 3V10C13 10.2652 13.1054 10.5196 13.2929 10.7071C13.4804 10.8946 13.7348 11 14 11H21C21.2652 11 21.5196 10.8946 21.7071 10.7071C21.8946 10.5196 22 10.2652 22 10V3C22 2.73478 21.8946 2.48043 21.7071 2.29289C21.5196 2.10536 21.2652 2 21 2V2ZM20 9H15V4H20V9ZM21 13H14C13.7348 13 13.4804 13.1054 13.2929 13.2929C13.1054 13.4804 13 13.7348 13 14V21C13 21.2652 13.1054 21.5196 13.2929 21.7071C13.4804 21.8946 13.7348 22 14 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V14C22 13.7348 21.8946 13.4804 21.7071 13.2929C21.5196 13.1054 21.2652 13 21 13ZM20 20H15V15H20V20ZM10 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V10C2 10.2652 2.10536 10.5196 2.29289 10.7071C2.48043 10.8946 2.73478 11 3 11H10C10.2652 11 10.5196 10.8946 10.7071 10.7071C10.8946 10.5196 11 10.2652 11 10V3C11 2.73478 10.8946 2.48043 10.7071 2.29289C10.5196 2.10536 10.2652 2 10 2V2ZM9 9H4V4H9V9Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <div class="w-full md:flex-1 md:pt-3">
                  <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 font-bold">Connect multiple apps</h3>
                  <p class="text-coolGray-500 font-medium">The first business platform to bring together all of your products from one place.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
                
      <section class="py-24 md:py-32 bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap lg:items-center -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
              <div class="relative mx-auto md:ml-0 max-w-max overflow-hidden rounded-lg">
                <!--
                <img class="absolute z-10 -left-8 -top-8 w-28 md:w-auto text-yellow-400" src="/images/elements/circle3-red.svg" alt="">
                <img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto text-blue-500" src="/images/elements/dots3-green.svg" alt="">
                -->
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  <img src={episode.frontmatter.image} alt={`Engineering Kiosk Episode ${episode.frontmatter.title}`} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`} />
                </a>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode</span>
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm"><time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode / <time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              <h1 class="mb-8 text-4xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  v2 {episode.frontmatter.title}
                </a>
              </h1>
              <p class="mb-6 text-lg md:text-xl text-coolGray-500 font-medium">With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every aspect of your business in one secure platform.</p>
              <a class="inline-block py-4 px-5 w-full md:w-auto text-base leading-4 text-yellow-50 bg-yellow-500 hover:bg-yellow-600 font-medium text-center focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href={`${episode.url}#episode-player`} title={`Engineering Kiosk Episode ${episode.frontmatter.title} anhören`}>Jetzt anhören</a>
            </div>
          </div>
        </div>
      </section>
                
      <section class="py-24 md:py-32 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap lg:items-center -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
              <div class="relative mx-auto md:ml-0 max-w-max overflow-hidden rounded-lg">
                <!--
                <img class="absolute z-10 -left-8 -top-8 w-28 md:w-auto text-yellow-400" src="/images/elements/circle3-red.svg" alt="">
                <img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto text-blue-500" src="/images/elements/dots3-green.svg" alt="">
                -->
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  <img src={episode.frontmatter.image} alt={`Engineering Kiosk Episode ${episode.frontmatter.title}`} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`} />
                </a>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode</span>
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm"><time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode / <time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              <h1 class="mb-8 text-4xl md:text-5xl leading-tight text-white font-bold tracking-tighter">
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  v3 {episode.frontmatter.title}
                </a>
              </h1>
              <p class="mb-6 text-lg md:text-xl text-coolGray-400 font-medium">With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every aspect of your business in one secure platform.</p>
              <a class="inline-block py-4 px-5 w-full md:w-auto text-base leading-4 text-yellow-50 bg-yellow-500 hover:bg-yellow-600 font-medium text-center focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href={`${episode.url}#episode-player`} title={`Engineering Kiosk Episode ${episode.frontmatter.title} anhören`}>Jetzt anhören</a>
            </div>
          </div>
        </div>
      </section>
                
      <section class="wave-top wave-bottom bg-white">
        <div class="wave wave-top w-full text-coolGray-50">
          <svg viewbox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1440 64.5909H1090.08C833.336 64.5909 580.229 -7.62939e-06 360 -7.62939e-06C139.771 -7.62939e-06 0 64.5909 0 64.5909V116H1440V64.5909Z" fill="currentColor"></path>
          </svg>
        </div>
        <div class="py-24 bg-coolGray-50 overflow-hidden" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
          <div class="container px-4 mx-auto">
            <!-- <div class="md:max-w-4xl mb-16 md:mb-20"> -->
            <div class="mb-6 md:mb-10">
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode</span>
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm"><time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode / <time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              <h1 class="mb-4 text-3xl md:text-4xl leading-tight font-bold tracking-tighter">
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  v4 {episode.frontmatter.title}
                </a>
              </h1>
            </div>
            <div class="flex flex-wrap lg:items-center -mx-4">
              <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
                <div class="relative mx-auto md:ml-0 max-w-max overflow-hidden rounded-lg">
                  <!--
                  <img class="absolute z-10 -left-8 -top-8 w-28 md:w-auto text-yellow-400" src="/images/elements/circle3-red.svg" alt="">
                  <img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto text-blue-500" src="/images/elements/dots3-green.svg" alt="">
                  -->
                  <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                    <img src={episode.frontmatter.image} alt={`Engineering Kiosk Episode ${episode.frontmatter.title}`} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`} />
                  </a>
                </div>
              </div>
              <div class="w-full md:w-1/2 px-4">
                <div class="flex flex-wrap p-8 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                  <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                    <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-yellow-500 rounded-lg">
                      <svg width="21" height="21" viewbox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 18.63H5C4.20435 18.63 3.44129 18.3139 2.87868 17.7513C2.31607 17.1887 2 16.4257 2 15.63V7.63C2 7.36479 1.89464 7.11043 1.70711 6.9229C1.51957 6.73536 1.26522 6.63 1 6.63C0.734784 6.63 0.48043 6.73536 0.292893 6.9229C0.105357 7.11043 0 7.36479 0 7.63L0 15.63C0 16.9561 0.526784 18.2279 1.46447 19.1655C2.40215 20.1032 3.67392 20.63 5 20.63H17C17.2652 20.63 17.5196 20.5246 17.7071 20.3371C17.8946 20.1496 18 19.8952 18 19.63C18 19.3648 17.8946 19.1104 17.7071 18.9229C17.5196 18.7354 17.2652 18.63 17 18.63ZM21 0.630005H7C6.20435 0.630005 5.44129 0.946075 4.87868 1.50868C4.31607 2.07129 4 2.83436 4 3.63V13.63C4 14.4257 4.31607 15.1887 4.87868 15.7513C5.44129 16.3139 6.20435 16.63 7 16.63H21C21.7956 16.63 22.5587 16.3139 23.1213 15.7513C23.6839 15.1887 24 14.4257 24 13.63V3.63C24 2.83436 23.6839 2.07129 23.1213 1.50868C22.5587 0.946075 21.7956 0.630005 21 0.630005ZM20.59 2.63L14.71 8.51C14.617 8.60373 14.5064 8.67813 14.3846 8.7289C14.2627 8.77966 14.132 8.8058 14 8.8058C13.868 8.8058 13.7373 8.77966 13.6154 8.7289C13.4936 8.67813 13.383 8.60373 13.29 8.51L7.41 2.63H20.59ZM22 13.63C22 13.8952 21.8946 14.1496 21.7071 14.3371C21.5196 14.5246 21.2652 14.63 21 14.63H7C6.73478 14.63 6.48043 14.5246 6.29289 14.3371C6.10536 14.1496 6 13.8952 6 13.63V4L11.88 9.88C12.4425 10.4418 13.205 10.7574 14 10.7574C14.795 10.7574 15.5575 10.4418 16.12 9.88L22 4V13.63Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="w-full md:flex-1 md:pt-3">
                    <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 font-bold">Measure your performance</h3>
                    <p class="text-coolGray-500 font-medium">Stay connected with your team and make quick decisions wherever you are.</p>
                  </div>
                </div>
                <div class="flex flex-wrap p-8 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                  <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                    <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-yellow-500 rounded-lg">
                      <svg width="21" height="21" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 18H9.24C9.37161 18.0008 9.50207 17.9755 9.62391 17.9258C9.74574 17.876 9.85656 17.8027 9.95 17.71L16.87 10.78L19.71 8C19.8037 7.90704 19.8781 7.79644 19.9289 7.67458C19.9797 7.55272 20.0058 7.42201 20.0058 7.29C20.0058 7.15799 19.9797 7.02728 19.9289 6.90542C19.8781 6.78356 19.8037 6.67296 19.71 6.58L15.47 2.29C15.377 2.19627 15.2664 2.12188 15.1446 2.07111C15.0227 2.02034 14.892 1.9942 14.76 1.9942C14.628 1.9942 14.4973 2.02034 14.3754 2.07111C14.2536 2.12188 14.143 2.19627 14.05 2.29L11.23 5.12L4.29 12.05C4.19732 12.1434 4.12399 12.2543 4.07423 12.3761C4.02446 12.4979 3.99924 12.6284 4 12.76V17C4 17.2652 4.10536 17.5196 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18ZM14.76 4.41L17.59 7.24L16.17 8.66L13.34 5.83L14.76 4.41ZM6 13.17L11.93 7.24L14.76 10.07L8.83 16H6V13.17ZM21 20H3C2.73478 20 2.48043 20.1054 2.29289 20.2929C2.10536 20.4804 2 20.7348 2 21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21C22 20.7348 21.8946 20.4804 21.7071 20.2929C21.5196 20.1054 21.2652 20 21 20Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="w-full md:flex-1 md:pt-3">
                    <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 font-bold">Build your website</h3>
                    <p class="text-coolGray-500 font-medium">A tool that lets you build a dream website even if you know nothing about web design or programming.</p>
                  </div>
                </div>
                <div class="flex flex-wrap p-8 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                  <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                    <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-yellow-500 rounded-lg">
                      <svg width="21" height="21" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 13H3C2.73478 13 2.48043 13.1054 2.29289 13.2929C2.10536 13.4804 2 13.7348 2 14V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22H10C10.2652 22 10.5196 21.8946 10.7071 21.7071C10.8946 21.5196 11 21.2652 11 21V14C11 13.7348 10.8946 13.4804 10.7071 13.2929C10.5196 13.1054 10.2652 13 10 13ZM9 20H4V15H9V20ZM21 2H14C13.7348 2 13.4804 2.10536 13.2929 2.29289C13.1054 2.48043 13 2.73478 13 3V10C13 10.2652 13.1054 10.5196 13.2929 10.7071C13.4804 10.8946 13.7348 11 14 11H21C21.2652 11 21.5196 10.8946 21.7071 10.7071C21.8946 10.5196 22 10.2652 22 10V3C22 2.73478 21.8946 2.48043 21.7071 2.29289C21.5196 2.10536 21.2652 2 21 2V2ZM20 9H15V4H20V9ZM21 13H14C13.7348 13 13.4804 13.1054 13.2929 13.2929C13.1054 13.4804 13 13.7348 13 14V21C13 21.2652 13.1054 21.5196 13.2929 21.7071C13.4804 21.8946 13.7348 22 14 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V14C22 13.7348 21.8946 13.4804 21.7071 13.2929C21.5196 13.1054 21.2652 13 21 13ZM20 20H15V15H20V20ZM10 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V10C2 10.2652 2.10536 10.5196 2.29289 10.7071C2.48043 10.8946 2.73478 11 3 11H10C10.2652 11 10.5196 10.8946 10.7071 10.7071C10.8946 10.5196 11 10.2652 11 10V3C11 2.73478 10.8946 2.48043 10.7071 2.29289C10.5196 2.10536 10.2652 2 10 2V2ZM9 9H4V4H9V9Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="w-full md:flex-1 md:pt-3">
                    <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 font-bold">Connect multiple apps</h3>
                    <p class="text-coolGray-500 font-medium">The first business platform to bring together all of your products from one place.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wave wave-bottom w-full text-coolGray-50">
          <svg viewbox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 51.4091H349.922C606.664 51.4091 859.771 116 1080 116C1300.23 116 1440 51.4091 1440 51.4091V0H0V51.4091Z" fill="currentColor"></path>
          </svg>
        </div>
      </section>
                
      <section class="wave-top wave-bottom bg-white">
        <div class="wave wave-top w-full text-coolGray-900">
          <svg viewbox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1440 64.5909H1090.08C833.336 64.5909 580.229 -7.62939e-06 360 -7.62939e-06C139.771 -7.62939e-06 0 64.5909 0 64.5909V116H1440V64.5909Z" fill="currentColor"></path>
          </svg>
        </div>
        <div class="py-24 md:py-32 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
          <div class="container px-4 mx-auto">
            <div class="flex flex-wrap lg:items-center -mx-4">
              <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
                <div class="relative mx-auto md:ml-0 max-w-max overflow-hidden rounded-lg">
                  <!-- 
                  <img class="absolute z-10 -left-8 -top-8 w-28 md:w-auto text-yellow-400" src="/images/elements/circle3-red.svg" alt="">
                  <img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto text-blue-500" src="/images/elements/dots3-green.svg" alt="">
                  -->
                  <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                    <img src={episode.frontmatter.image} alt={`Engineering Kiosk Episode ${episode.frontmatter.title}`} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`} />
                  </a>
                </div>
              </div>
              <div class="w-full md:w-1/2 px-4">
                <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode</span>
                <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm"><time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
                <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode / <time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
                <h1 class="mb-8 text-4xl md:text-5xl leading-tight text-white font-bold tracking-tighter">
                  <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                    v5 {episode.frontmatter.title}
                  </a>
                </h1>
                <p class="mb-6 text-lg md:text-xl text-coolGray-400 font-medium">With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every aspect of your business in one secure platform.</p>
                <!--
                <a class="inline-block py-4 px-5 w-full md:w-auto text-base leading-4 text-yellow-50 bg-yellow-500 hover:bg-yellow-600 font-medium text-center focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href={`${episode.url}#episode-player`} title={`Engineering Kiosk Episode ${episode.frontmatter.title} anhören`}>Jetzt anhören</a>
                   -->
                <!----------------------- -->

                <div class="flex flex-wrap justify-start mt-8">
                  <div class="mr-4 mt-4 mb-4">
                    <a class="flex inline-block py-4 px-5 w-full md:w-auto text-base leading-4 text-yellow-50 bg-yellow-500 hover:bg-yellow-600 font-medium text-center focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href={`${episode.url}#episode-player`} title={`Engineering Kiosk Episode ${episode.frontmatter.title} anhören`}>Jetzt anhören</a>
                  </div>
                  <div class="m-4">
                    <a class="flex items-center" href={episode.frontmatter.spotify} title={`Engineering Kiosk Episode ${episode.frontmatter.title} auf Spotify`}>
                      <img class="w-12" src="/images/brands/spotify.svg" alt="Spotify logo" title="Spotify logo">
                    </a>
                  </div>
                  <div class="m-4">
                    <a class="flex items-center" href={episode.frontmatter.apple_podcasts} title={`Engineering Kiosk Episode ${episode.frontmatter.title} bei Apple Podcasts`}>
                      <img class="w-12" src="/images/brands/apple.svg" alt="Apple Podcasts logo" title="Apple Podcasts logo">
                    </a>
                  </div>
                  <div class="m-4">
                    <a class="flex items-center" href={episode.frontmatter.google_podcasts} title={`Engineering Kiosk Episode ${episode.frontmatter.title} bei Google Podcasts`}>
                      <img class="w-12" src="/images/brands/google.svg" alt="Google Podcasts logo" title="Google Podcasts logo">
                    </a>
                  </div>            
                  <div class="m-4">
                    <a class="flex items-center" href={episode.frontmatter.amazon_music} title={`Engineering Kiosk Episode ${episode.frontmatter.title} bei Amazon Music`}>
                      <img class="w-12" src="/images/brands/amazonmusic.svg" alt="Amazon Music logo" title="Amazon Music logo">
                    </a>
                  </div>
                  <!--
                  <div class="m-4">
                    <a class="flex items-center" href={podcastInfo.platformLinks.rss} title={`Engineering Kiosk Episode ${episode.frontmatter.title} als Download`}>
                      <img class="w-12" src="/images/brands/rss.svg" alt="RSS-Feed logo" title="RSS-Feed logo">
                    </a>
                  </div>
                   -->
                </div>
              
                <!----------------------- -->
              </div>
            </div>
          </div>
        </div>
        <div class="wave wave-bottom w-full text-coolGray-900">
          <svg viewbox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 51.4091H349.922C606.664 51.4091 859.771 116 1080 116C1300.23 116 1440 51.4091 1440 51.4091V0H0V51.4091Z" fill="currentColor"></path>
          </svg>
        </div>
      </section>
      <!--- EXPERIMENTAL -->

      <style>
        .review-box {
          @apply w-full px-4 mb-8 min-w-full;
        }
        @media screen(sm) {
          .review-box {
            min-width: 380px;
          }
        }
      </style>

      <section class="py-24 md:pb-28 bg-white" style="background-image: url('/images/elements/pattern-light1.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="mb-16">
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-9xl">Meinungen</span>
            <h2 class="mb-4 text-4xl md:text-5xl leading-tight font-semibold tracking-tighter">Was andere über uns sagen</h2>
          </div>
          <div class="flex overflow-scroll -mx-4">
            <div class="review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Der Engineering Kiosk Podcast ist großartig - verschiedene interessante Themen, einfach erklärt dennoch von hoher Qualität. Diese zeichnet sich u.a. aus durch tiefe Unterhaltungen, Beispiele und Erklärungen.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/yaniv-preiss.jpeg" alt="Yaniv Preiss" title="Yaniv Preiss">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">
                      Yaniv Preiss
                    </h4>
                    <p class="text-lg text-coolGray-400">Head Of Engineering, NewStore</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Podcast mit aktuellen und interkulturellem Witz über IT- und Führungsfragen. Was ich höre, lässt mich meine Rolle als Führungskraft reflektieren und hilft mir Ratschläge als Karrierecoach für Studierende auf ihre Relevanz abzuchecken.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/luise-haack.jpeg" alt="Luise Haack" title="Luise Haack">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Luise Haack</h4>
                    <p class="text-lg text-coolGray-400">Referatsleiterin, Uni Passau</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Ein entspannter Podcast, der sich selber auch nicht zu ernst nimmt. Insbesondere die Erfahrung von Andy & Wolfgang ist viel Wert und hilft mir in meiner Position als noch recht junger Techlead.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/saskia-keil.png" alt="Saskia Keil" title="Saskia Keil">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Saskia Keil</h4>
                    <p class="text-lg text-coolGray-400">Techlead, trivago</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Jede Woche neue Ansichten und Eindrücke in die unterschiedlichsten Engineering- und Management-Themen. In den kurzweiligen Folgen regen mich Wolfgang und Andy zum Nachdenken an und holen mich aus meiner "Blase" heraus.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/sebastian-hammerl.jpg" alt="Sebastian Hammerl" title="Sebastian Hammerl">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Sebastian Hammerl</h4>
                    <p class="text-lg text-coolGray-400">Leiter Software-Entwicklung, Getslash</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Ich bin Hörer seit Episode #1 und von der Breite sowie Tiefe der Themen positiv überrascht. Nicht nur die Theorie wird diskutiert, sondern man merkt deutlich den Einfluss praktischer Erfahrungen.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/pascal-landau.jpeg" alt="Pascal Landau" title="Pascal Landau">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Pascal Landau</h4>
                    <p class="text-lg text-coolGray-400">Technical Director, ABOUT YOU</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

			<PodcastEpisodeListing numberOfItems=6 />

			<BlogPostListing numberOfItems=6 />

      <!-- Team -->
			<section class="py-24 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="mb-16 text-center">
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-9xl">
              Team
            </span>
            <h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">
              Die Gesichter hinter'm Engineering Kiosk.
            </h3>
            <p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">
              Wer macht's?
              Wer brabbelt da die ganze Zeit?
              Wer hält den Kiosk am Laufem?
            </p>
          </div>

          <div class="flex flex-wrap justify-center -mx-4">
            <HostPreview 
              avatar="andy-grunwald.jpeg" 
              name="Andy Grunwald" 
              subtitle="Der aus dem Ruhrpott" 
              description="Infrastruktur-Person, Open-Source-Fanatiker, denkt zu viel, Möchtegern-Landwirt, Kaiserschmarrn nur ohne Rosinen" 
              github="andygrunwald" 
              twitter="andygrunwald" 
              linkedin="andy-grunwald-09aa265a" 
              website="https://andygrunwald.com/"
              profileLink="/kiosk-betreiber/andy-grunwald/" />

            <HostPreview 
              avatar="wolfgang-gassler-profile.jpeg" 
              name="Wolfgang Gassler" 
              subtitle="Der aus den Bergen"
              description="Dr. der Informatik, Pragmatiker, Sideproject-Domain-Käufer, Feuerwehrmann, Kaiserschmarrn nur mit Rosinen" 
              github="woolfg" 
              twitter="schafele" 
              linkedin="wolfganggassler" 
              website="https://wolfgang.gassler.org/"
              profileLink="/kiosk-betreiber/wolfgang-gassler/" />
          </div>
        </div>
      </section>

	    <section id="jetzt-folgen" class="py-24 md:py-32 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
        <div class="container px-4 mx-auto flex flex-col items-center">
          <h3 class="mb-8 font-bold leading-tight text-white text-4xl md:text-5xl tracking-tighter">
            Jetzt hören auf...
          </h3>
          <div class="flex flex-wrap justify-center px-10 mt-8">
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.appleMusic} title="Engineering Kiosk bei Apple Podcasts">
                <img class="w-12" src="/images/brands/apple.svg" alt="Engineering Kiosk bei Apple Podcasts" title="Engineering Kiosk bei Apple Podcasts">
                <span class="text-white text-lg m-2">Apple</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.spotify} title="Engineering Kiosk auf Spotify">
                <img class="w-12" src="/images/brands/spotify.svg" alt="Engineering Kiosk bei Spotify" title="Engineering Kiosk bei Spotify">
                <span class="text-white text-lg m-2">Spotify</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.googlePodcasts} title="Engineering Kiosk auf Google Podcasts">
                <img class="w-12" src="/images/brands/google.svg" alt="Engineering Kiosk bei Google Podcasts" title="Engineering Kiosk bei Google Podcasts">
                <span class="text-white text-lg m-2">Google</span>
              </a>
            </div>     
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.pocketCasts} title="Engineering Kiosk auf Pocket Casts">
                <img class="w-12" src="/images/brands/pocketcasts.svg" alt="Engineering Kiosk bei Pocket Casts" title="Engineering Kiosk bei Pocket Casts">
                <span class="text-white text-lg m-2">Pocket Casts</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.overCast} title="Engineering Kiosk auf Overcast">
                <img class="w-12" src="/images/brands/overcast.svg" alt="Engineering Kiosk bei Overcast" title="Engineering Kiosk bei Overcast">
                <span class="text-white text-lg m-2">Overcast</span>
              </a>
            </div>            
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.amazonMusic} title="Engineering Kiosk bei Amazon Music">
                <img class="w-12" src="/images/brands/amazonmusic.svg" alt="Engineering Kiosk bei Amazon Music" title="Engineering Kiosk bei Amazon Music">
                <span class="text-white text-lg m-2">Amazon</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.deezer} title="Engineering Kiosk bei Deezer">
                <img class="w-12" src="/images/brands/deezer.svg" alt="Engineering Kiosk bei Deezer" title="Engineering Kiosk bei Deezer">
                <span class="text-white text-lg m-2">deezer</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.podimo} title="Engineering Kiosk bei podimo">
                <img class="w-12" src="/images/brands/podimo.svg" alt="Engineering Kiosk bei podimo" title="Engineering Kiosk bei podimo">
                <span class="text-white text-lg m-2">podimo</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.rtlplus} title="Engineering Kiosk bei RTL Plus Musik">
                <img class="h-6" src="/images/brands/rtl-plus.svg" alt="Engineering Kiosk bei RTL Plus Musik" title="Engineering Kiosk bei RTL Plus Musik">
                <span class="text-white text-lg m-2">&nbsp;</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.rss} title="Engineering Kiosk als RSS-Feed">
                <img class="w-12" src="/images/brands/rss.svg" alt="Engineering Kiosk als RSS-Feed" title="Engineering Kiosk als RSS-Feed">
                <span class="text-white text-lg m-2">RSS</span>
              </a>
            </div>
          </div>
        </div>
      </section>

			<Footer />
		</div>
	</body>
</html>
