---
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import HostPreview from '../components/HostPreview.astro';
import BlogPostListing from '../components/BlogPostListing.astro';
import PodcastEpisodeListing from '../components/PodcastEpisodeListing.astro';
import { URLify } from "../scripts/urlify.js"
import { cutText } from "../scripts/strings.js"
import { formatDateWithoutWeekday } from "../scripts/date.js"

import podcastInfo from "../data/podcast-info.json";

let title = 'Engineering Kiosk - Der Software-Engineering-Podcast';
let description = 'Der deutschsprachige Software-Engineering-Podcast mit Wolfgang Gassler und Andy Grunwald rund um die Themen Engineering-Kultur, Open Source und Technologie.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob('./blog/post/*.mdx');
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

// Determine the latest episode
// We have places where the last episode is linked
let allEpisodes = await Astro.glob('../pages/podcast/episode/*.md');
allEpisodes.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
let episodesToShow = allEpisodes.slice(0, 1);
let episode = episodesToShow[0];

let currentEpisodeTags = episode.frontmatter.tags.map((element) => URLify(element));
// Cut description text
let currentEpisodeDescription = cutText(episode.frontmatter.description, 170);
---

<html lang="de">
  <head>
		<MainHead title={title} description={description} image="/images/headers/andy-grunwald-wolfgang-gassler-2022-01-07.jpg" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
	  <div>
		  <Nav title={title} />

      <section class="relative bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
			  <div class="py-20 md:py-28">
				  <div class="container px-4 mx-auto">
					  <div class="flex flex-wrap xl:items-center -mx-4">
						  <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
								<h1>
                  <div>
                    <span class="inline-block w-auto py-px px-2 mb-4 text-xs leading-5 text-white bg-yellow-500 uppercase rounded-9xl">
                      Engineering Kiosk
                    </span>
                  </div>
                  <span class="block mb-6 text-3xl md:text-5xl lg:text-5xl 2xl:text-6xl leading-tight font-bold tracking-tight">
                    Der deutschsprachige Software-Engineering-Podcast
                  </span>
								</h1>
								<p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">
									Der Engineering Kiosk ist der deutschsprachige Software-Engineering-Podcast mit <a href="/kiosk-betreiber/wolfgang-gassler/">Wolfgang Gassler</a> und <a href="/kiosk-betreiber/andy-grunwald/">Andy Grunwald</a> rund um die Themen Engineering-Kultur, Open Source, Menschen, Technologie und allen anderen Bereichen, die damit in Verbindung stehen.
								</p>
								<div class="flex flex-wrap">
									<div class="w-full md:w-auto py-1 md:py-0 md:mr-4">
                    <a class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 border border-yellow-500 rounded-md shadow-sm" href="#jetzt-folgen">
                      Hören in deiner App...
                    </a>
                  </div>
								</div>
							</div>
							<div class="w-full md:w-1/2 px-4">
								<div class="relative mx-auto md:mr-0 max-w-max">
									<img class="absolute z-10 -left-14 -top-12 w-28 md:w-auto" src="/images/elements/circle3-red.svg" alt="Roter Kreis">
									<img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto" src="/images/elements/dots3-green.svg" alt="Grüne Punkte">
									<img class="relative rounded-7xl" src="/images/headers/andy-grunwald-wolfgang-gassler-2022-01-07.jpg" alt="Andy Grunwald und Wolfgang Gassler am 07. Januar 2022 in Duisburg" title="Andy Grunwald und Wolfgang Gassler am 07. Januar 2022 in Duisburg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

      <section class="py-20 md:py-28 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap lg:items-center -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
              <div class="relative mx-auto md:ml-0 max-w-max overflow-hidden rounded-lg">
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  <img src={episode.frontmatter.image} alt={`Engineering Kiosk Episode ${episode.frontmatter.title}`} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`} />
                </a>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <span class="inline-block py-px px-2 mb-4 mr-3 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Aktuelle Episode / <time class="date" datetime={episode.frontmatter.pubDate}>{formatDateWithoutWeekday(episode.frontmatter.pubDate)}</time></span>
              { currentEpisodeTags.map((element) => <a class="inline-block py-px px-2 mb-4 mr-3 text-xs leading-5 text-yellow-900 bg-yellow-100 font-medium uppercase rounded-full shadow-sm hover:text-yellow-1000 hover:bg-yellow-200" href={`/tag/${(element.url)}/`}>{element.url}</a>) }
              <h1 class="mb-8 text-4xl md:text-5xl leading-tight text-white font-bold tracking-tighter">
                <a href={episode.url} title={`Engineering Kiosk Episode ${episode.frontmatter.title}`}>
                  {episode.frontmatter.title}
                </a>
              </h1>
              <p class="mb-6 text-lg md:text-xl text-coolGray-400 font-medium">{ currentEpisodeDescription }</p>
              <div class="flex flex-wrap justify-start mt-8">
                <div class="mr-4 mt-4 mb-4">
                  <a class="flex inline-block py-4 px-5 w-full md:w-auto text-base leading-4 text-yellow-50 bg-yellow-500 hover:bg-yellow-600 font-medium text-center focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href={`${episode.url}#episode-player`} title={`Engineering Kiosk Episode ${episode.frontmatter.title} anhören`}>Jetzt anhören</a>
                </div>
                {episode.frontmatter.spotify && (<div class="m-4">
                  <a class="flex items-center" href={episode.frontmatter.spotify} title={`Engineering Kiosk Episode ${episode.frontmatter.title} auf Spotify`}>
                    <img class="w-12" src="/images/brands/spotify.svg" alt="Spotify logo" title="Spotify logo">
                  </a>
                </div>)}
                {episode.frontmatter.apple_podcasts && (<div class="m-4">
                  <a class="flex items-center" href={episode.frontmatter.apple_podcasts} title={`Engineering Kiosk Episode ${episode.frontmatter.title} bei Apple Podcasts`}>
                    <img class="w-12" src="/images/brands/apple.svg" alt="Apple Podcasts logo" title="Apple Podcasts logo">
                  </a>
                </div>)}
                {episode.frontmatter.google_podcasts && (<div class="m-4">
                  <a class="flex items-center" href={episode.frontmatter.google_podcasts} title={`Engineering Kiosk Episode ${episode.frontmatter.title} bei Google Podcasts`}>
                    <img class="w-12" src="/images/brands/google.svg" alt="Google Podcasts logo" title="Google Podcasts logo">
                  </a>
                </div>)}
                {episode.frontmatter.amazon_music && (<div class="m-4">
                  <a class="flex items-center" href={episode.frontmatter.amazon_music} title={`Engineering Kiosk Episode ${episode.frontmatter.title} bei Amazon Music`}>
                    <img class="w-12" src="/images/brands/amazonmusic.svg" alt="Amazon Music logo" title="Amazon Music logo">
                  </a>
                </div>)}
                {episode.frontmatter.youtube && (<div class="m-4 flex items-center">
                  <a class="items-center" href={episode.frontmatter.youtube} title={`Engineering Kiosk Episode ${episode.frontmatter.title} auf YouTube`}>
                    <img class="w-14" src="/images/brands/youtube.svg" alt="YouTube logo" title="YouTube logo">
                  </a>
                </div>)}
              </div>
            </div>
          </div>
        </div>
      </section>

      <style>
        .review-box {
          @apply w-full px-4 mb-8 min-w-full;
        }
        @media screen(sm) {
          .review-box {
            min-width: 380px;
          }
        }
      </style>

      <section class="py-20 md:py-28 bg-white" style="background-image: url('/images/elements/pattern-light1.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="mb-16">
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-9xl">Meinungen</span>
            <h2 class="mb-4 text-4xl md:text-5xl leading-tight font-semibold tracking-tighter">Was andere über uns sagen</h2>
          </div>
          <div class="flex overflow-scroll -mx-4">
            <div class="review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Der Engineering Kiosk Podcast ist großartig - verschiedene interessante Themen, einfach erklärt dennoch von hoher Qualität. Diese zeichnet sich u.a. aus durch tiefe Unterhaltungen, Beispiele und Erklärungen.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/yaniv-preiss.jpeg" alt="Yaniv Preiss" title="Yaniv Preiss">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">
                      Yaniv Preiss
                    </h4>
                    <p class="text-lg text-coolGray-400">Head Of Engineering, NewStore</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Podcast mit aktuellen und interkulturellem Witz über IT- und Führungsfragen. Was ich höre, lässt mich meine Rolle als Führungskraft reflektieren und hilft mir Ratschläge als Karrierecoach für Studierende auf ihre Relevanz abzuchecken.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/luise-haack.jpeg" alt="Luise Haack" title="Luise Haack">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Luise Haack</h4>
                    <p class="text-lg text-coolGray-400">Referatsleiterin, Uni Passau</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Ein entspannter Podcast, der sich selber auch nicht zu ernst nimmt. Insbesondere die Erfahrung von Andy & Wolfgang ist viel Wert und hilft mir in meiner Position als noch recht junger Techlead.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/saskia-keil.png" alt="Saskia Keil" title="Saskia Keil">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Saskia Keil</h4>
                    <p class="text-lg text-coolGray-400">Techlead, trivago</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Jede Woche neue Ansichten und Eindrücke in die unterschiedlichsten Engineering- und Management-Themen. In den kurzweiligen Folgen regen mich Wolfgang und Andy zum Nachdenken an und holen mich aus meiner "Blase" heraus.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/sebastian-hammerl.jpg" alt="Sebastian Hammerl" title="Sebastian Hammerl">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Sebastian Hammerl</h4>
                    <p class="text-lg text-coolGray-400">Leiter Software-Entwicklung, Getslash</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 review-box">
              <div class="flex flex-col h-full bg-white shadow-md rounded-md">
                <h3 class="pb-14 mb-auto p-8 text-xl text-coolGray-500 leading-loose font-medium">
                  Ich bin Hörer seit Episode #1 und von der Breite sowie Tiefe der Themen positiv überrascht. Nicht nur die Theorie wird diskutiert, sondern man merkt deutlich den Einfluss praktischer Erfahrungen.
                </h3>
                <div class="flex items-center py-8 pl-4 pr-2">
                  <img class="w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" src="/images/testimonials/pascal-landau.jpeg" alt="Pascal Landau" title="Pascal Landau">
                  <div>
                    <h4 class="mb-1 text-lg font-semibold">Pascal Landau</h4>
                    <p class="text-lg text-coolGray-400">Technical Director, ABOUT YOU</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <PodcastEpisodeListing numberOfItems=6 />

      <BlogPostListing numberOfItems=6 />

      <!-- Team -->
      <section class="py-20 md:py-28 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
          <div class="mb-16 text-center">
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-9xl">
              Team
            </span>
            <h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">
              Die Gesichter hinter'm Engineering Kiosk.
            </h3>
            <p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">
              Wer macht's?
              Wer brabbelt da die ganze Zeit?
              Wer hält den Kiosk am Laufem?
            </p>
          </div>

          <div class="flex flex-wrap justify-center -mx-4">
            <HostPreview 
              avatar="andy-grunwald.jpeg" 
              name="Andy Grunwald" 
              subtitle="Der aus dem Ruhrpott" 
              description="Infrastruktur-Person, Open-Source-Fanatiker, denkt zu viel, Möchtegern-Landwirt, Kaiserschmarrn nur ohne Rosinen" 
              github="andygrunwald" 
              twitter="andygrunwald" 
              linkedin="andy-grunwald-09aa265a" 
              website="https://andygrunwald.com/"
              profileLink="/kiosk-betreiber/andy-grunwald/" />

            <HostPreview 
              avatar="wolfgang-gassler-profile.jpeg" 
              name="Wolfgang Gassler" 
              subtitle="Der aus den Bergen"
              description="Dr. der Informatik, Pragmatiker, Sideproject-Domain-Käufer, Feuerwehrmann, Kaiserschmarrn nur mit Rosinen" 
              github="woolfg" 
              twitter="schafele" 
              linkedin="wolfganggassler" 
              website="https://wolfgang.gassler.org/"
              profileLink="/kiosk-betreiber/wolfgang-gassler/" />
          </div>
        </div>
      </section>

	    <section id="jetzt-folgen" class="py-20 md:py-28 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
        <div class="container px-4 mx-auto flex flex-col items-center">
          <h3 class="mb-8 font-bold leading-tight text-white text-4xl md:text-5xl tracking-tighter">
            Jetzt hören auf...
          </h3>
          <div class="flex flex-wrap justify-center px-10 mt-8">
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.appleMusic} title="Engineering Kiosk bei Apple Podcasts">
                <img class="w-12" src="/images/brands/apple.svg" alt="Engineering Kiosk bei Apple Podcasts" title="Engineering Kiosk bei Apple Podcasts">
                <span class="text-white text-lg m-2">Apple</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.spotify} title="Engineering Kiosk auf Spotify">
                <img class="w-12" src="/images/brands/spotify.svg" alt="Engineering Kiosk bei Spotify" title="Engineering Kiosk bei Spotify">
                <span class="text-white text-lg m-2">Spotify</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.googlePodcasts} title="Engineering Kiosk auf Google Podcasts">
                <img class="w-12" src="/images/brands/google.svg" alt="Engineering Kiosk bei Google Podcasts" title="Engineering Kiosk bei Google Podcasts">
                <span class="text-white text-lg m-2">Google</span>
              </a>
            </div>     
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.pocketCasts} title="Engineering Kiosk auf Pocket Casts">
                <img class="w-12" src="/images/brands/pocketcasts.svg" alt="Engineering Kiosk bei Pocket Casts" title="Engineering Kiosk bei Pocket Casts">
                <span class="text-white text-lg m-2">Pocket Casts</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.overCast} title="Engineering Kiosk auf Overcast">
                <img class="w-12" src="/images/brands/overcast.svg" alt="Engineering Kiosk bei Overcast" title="Engineering Kiosk bei Overcast">
                <span class="text-white text-lg m-2">Overcast</span>
              </a>
            </div>            
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.amazonMusic} title="Engineering Kiosk bei Amazon Music">
                <img class="w-12" src="/images/brands/amazonmusic.svg" alt="Engineering Kiosk bei Amazon Music" title="Engineering Kiosk bei Amazon Music">
                <span class="text-white text-lg m-2">Amazon</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.youTube} title="Engineering Kiosk auf YouTube">
                <img class="w-14" src="/images/brands/youtube.svg" alt="Engineering Kiosk auf YouTube" title="Engineering Kiosk auf YouTube">
                <span class="text-white text-lg m-2">YouTube</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.deezer} title="Engineering Kiosk bei Deezer">
                <img class="w-12" src="/images/brands/deezer.svg" alt="Engineering Kiosk bei Deezer" title="Engineering Kiosk bei Deezer">
                <span class="text-white text-lg m-2">deezer</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.podimo} title="Engineering Kiosk bei podimo">
                <img class="w-12" src="/images/brands/podimo.svg" alt="Engineering Kiosk bei podimo" title="Engineering Kiosk bei podimo">
                <span class="text-white text-lg m-2">podimo</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.rtlplus} title="Engineering Kiosk bei RTL Plus Musik">
                <img class="h-6" src="/images/brands/rtl-plus.svg" alt="Engineering Kiosk bei RTL Plus Musik" title="Engineering Kiosk bei RTL Plus Musik">
                <span class="text-white text-lg m-2">&nbsp;</span>
              </a>
            </div>
            <div class="m-4">
              <a class="flex items-center" href={podcastInfo.platformLinks.rss} title="Engineering Kiosk als RSS-Feed">
                <img class="w-12" src="/images/brands/rss.svg" alt="Engineering Kiosk als RSS-Feed" title="Engineering Kiosk als RSS-Feed">
                <span class="text-white text-lg m-2">RSS</span>
              </a>
            </div>
          </div>
        </div>
      </section>

			<Footer />
		</div>
	</body>
</html>
