---
import type { CollectionEntry } from 'astro:content';
import { Image } from "astro:assets";

export interface Props {
	post: CollectionEntry<'blog'>;
	n: number;
}

import { Markdown } from 'astro-remote';
import { URLify } from '../scripts/urlify.js';
import { formatDate } from '../scripts/date.js';

import '../styles/blogpost-preview.scss';

const { post, n } = Astro.props;
const { data } = post;

// n represents the number of the post to display.
// Why does this matter?
// In a list of post previews, we need to add a few css classes, depending on the screen size.
//
// Default value is n = 0
// In a list of posts, we start counting at 0
let cssClass = '';
switch (n) {
	case 3:
		cssClass = 'mb-8 lg:mb-0';
		break;
	case 4:
		cssClass = 'mb-8 md:mb-0';
		break;
	case 5:
		cssClass = '';
		break;
	default:
		cssClass = 'mb-8';
}

let tags = data.tags.map((element) => URLify(element));
---

<div class={`w-full md:w-1/2 lg:w-1/3 px-4 ${cssClass}`}>
	<a class="block mb-6 overflow-hidden rounded-md" href={`/blog/post/${post.slug}/`}>
		<Image class="w-full" src={data.thumbnail} alt={data.title} title={data.title} />
	</a>
	<p class="mb-2 text-coolGray-500 font-medium">
		<time class="date" datetime={data.pubDate}>{formatDate(data.pubDate)}</time>
	</p>
	<a class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline" href={`/blog/post/${post.slug}/`}>
		{data.title}
	</a>
	<span class="text">
		<Markdown content={data.description} />
	</span>
	{
		tags.map((element) => (
			<a class="inline-block py-1 px-3 mb-3 mr-3 text-xs leading-5 text-yellow-500 hover:text-yellow-600 font-medium uppercase bg-yellow-100 hover:bg-yellow-200 rounded-full shadow-sm" href={`/tag/${element.url}/`}>
				{element.name}
			</a>
		))
	}
</div>
