---
export interface Props {
	name: string;
	logo: string;
	url: string;
}

const { name, logo, url } = Astro.props;
const logoURL = logo ? `/meetup/alps/images/location/${logo}` : null;

---

{
	url && (
		<a href={url} target="_blank">
			{logoURL && <img src={logoURL} class="inline h-full" alt={name} title={name} />}
		</a>
	)
}
{
	!url && (
		<span>
			{logoURL && <img src={logoURL} alt={name} title={name} />}
			{name}
		</span>
	)
}
