---
import { Image } from "astro:assets";

export interface Props {
	name: string;
	logo: string;
	url: string;
	logoHeight: number;
}

const { name, logo, url, logoHeight } = Astro.props;
---

{
	url ? (
		<a href={url} target="_blank">
			{logo ? (<Image src={logo} height={logoHeight} class="inline h-full" alt={name} title={name} />) : (<span class="underline">{name}</span>)}
		</a>
	) : (
		<span>
			{logo ? (<Image src={logo} height={logoHeight} class="inline h-full" alt={name} title={name} />) : name}
		</span>
	)
}
