---
export interface Props {
	name: string;
	logo: string;
	url: string;
}

const { name, logo, url } = Astro.props;
---

{
	url && (
		<a href={url} target="_blank">
			{logo && <img src={logo} class="inline h-full" alt={name} title={name} />}
		</a>
	)
}
{
	!url && (
		<span>
			{logo && <img src={logo} alt={name} title={name} />}
			{name}
		</span>
	)
}
