---
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
	type?: string;
	next?: string;
	prev?: string;
	canonicalURL?: string | URL;
}

const { title, description, image, type, next, prev, canonicalURL } = Astro.props as Props;

// TODO type is not in use? What was this used for?
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{title}</title>
<meta name="description" content={description} />

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />

<!-- TODO Check if sitemap.xml works properly -->
<link rel="sitemap" href="/sitemap.xml" />

<!-- TODO Check if feed/posts.xml works properly -->
<link rel="alternate" type="application/rss+xml" href="/feed/posts.xml" />

<!-- TODO Set correct favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<link rel="canonical" href={canonicalURL} />
<!-- TODO Do we really need prev and next pages? -->
{next && <link rel="next" aria-label="Previous Page" href={new URL(next, canonicalURL).href}>}
{prev && <link rel="prev" aria-label="Next Page" href={new URL(prev, canonicalURL).href}>}

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && (<meta property="og:image" content={new URL(image, canonicalURL)}>)}

<!-- TODO Check if the social media previews on twitter, facebook, linkedin -->
<meta name="twitter:card" content={image ? 'summary_large_image' : 'summary'} />
<meta name="twitter:site" content="@astro" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{image && (<meta name="twitter:image" content={image}>)}
