---
export interface Props {
	episode: any;
	n: number;
}

const { episode, n } = Astro.props;
const { frontmatter } = episode;

function formatDate(date) {
	const options = {
		weekday: 'long',
		year: 'numeric',
		month: 'long',
		day: 'numeric'
	};
	return new Date(date).toLocaleDateString('de-DE', options);
}

---

<div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
	<a class="block mb-6 overflow-hidden rounded-md" href="${episode.url}">
		<img class="w-full" src="${frontmatter.image}" alt="">
	</a>
	<p class="mb-2 text-coolGray-500 font-medium">
		<time class="date" datetime={frontmatter.date}>{formatDate(frontmatter.date)}</time>
	</p>
	<a class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline" href="${episode.url}">
		{frontmatter.title}
	</a>
	<!-- TODO Between sentences, there is a whitespace missing. Maybe related to the removal of HTML tags in our python script -->
	<p class="mb-4 text-base md:text-lg text-coolGray-400 font-medium">
		{frontmatter.description}
	</p>
</div>
