---
export interface Props {
	utterance: object;
}

import { millisecondsToHumanTimestamp } from '../scripts/date.js';

const { utterance } = Astro.props;

// utterance.{start|end} is in milliseconds
const startTime = millisecondsToHumanTimestamp(utterance.start);
const endTime = millisecondsToHumanTimestamp(utterance.end);

const startInSeconds = Math.floor(utterance.start / 1000);
---
<div data-trans-start={startInSeconds} class="utterance">
	<h4>{utterance.speaker}
		<span class="time">({startTime} - {endTime})</span>
		<a href=`#t=${startInSeconds}` onclick=`showSharingLink(${startInSeconds}, event)` title="Diese Transkriptstelle teilen">
			<img src="/images/elements/share-arrow.svg" alt="Teilen"/>
		</a>
	</h4>
	<p>{utterance.text}</p>
</div>
