---
export interface Props {
	episode: number;
}

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { cutText } from '../scripts/strings.js';

const { episode } = Astro.props;

let episodeString = episode.toString();

const episodes = await getCollection("podcast", ({ id }) => {
  return id.startsWith(`${episodeString}-`);
});
const content = episodes[0];
const data = content.data;

const description = cutText(data.description, 200);
---

<div class="container px-4 mx-auto my-10">
	<div class="flex flex-wrap lg:items-center -mx-4 rounded-3xl">
		<div class="w-full md:w-1/3">
			<div class="relative mx-auto md:ml-0 max-w-max">
				<a class="block mb-6 overflow-hidden" href={`/podcast/episode/${content.slug}/`}>
					<Image class="rounded-3xl" src={data.image} title={`Podcast episode ${data.title}`} alt={`Podcast episode ${data.title}`} />
				</a>
			</div>
		</div>
		<div class="w-full md:w-2/3 px-4">
			<span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm"> Mehr zu diesem Thema in unserer Podcast Episode</span>

			<h4 class="">
				<a class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 hover:underline" href={`/podcast/episode/${content.slug}/`}>
					{data.title}
				</a>
			</h4>
			<p class="">
				{description}
			</p>
		</div>
	</div>
</div>
