---
// Component Imports
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import PodcastEpisodePreview from '../../components/PodcastEpisodePreview.astro';
import Pagination from '../../components/Pagination.astro';
import authorData from '../../data/authors.json';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Don’s Blog';
let description = 'An example blog on Astro';
let canonicalURL = Astro.canonicalURL;

// Data Fetching: List all Markdown posts in the repo.
let allEpisodes = await Astro.glob('./episode/*.md');
allEpisodes.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<html lang="en">
	<head>
		<title>{title}</title>
		<MainHead title={title} description={description} image={allEpisodes[0].frontmatter.image} {canonicalURL} />
	</head>

	<body>
		<Nav title={title} />

		<main class="wrapper">
			{allEpisodes.map((post) => <PodcastEpisodePreview post={post} author={authorData[post.frontmatter.author]} />)}
		</main>

		<footer>
			<Pagination prevUrl="/posts" nextUrl="/posts/2" />
		</footer>
	</body>
</html>
