---
// Component Imports
import Footer from '../../components/Footer.astro';
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import PodcastEpisodePreview from '../../components/PodcastEpisodePreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Don’s Blog';
let description = 'An example blog on Astro';
let canonicalURL = Astro.canonicalURL;

// Data Fetching: List all Markdown posts in the repo.
let allEpisodes = await Astro.glob('./episode/*.md');
allEpisodes.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---
<html lang="en">
	<head>
		<title>{title}</title>
		<MainHead title={title} description={description} {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div class=""> 
			<Nav title={title} />

      		<!-- TODO Design -->
			<main class="wrapper">
				{allEpisodes.map((post) => <PodcastEpisodePreview post={post} />)}
			</main>

			<Footer />
		</div>
	</body>
</html>